* {
    margin: 0;
    background-color: grey;
}

header {
    height: 20rem;
    width: 100%;
    background-color: darkred;
    

}

aside {
    display: flex;
    justify-content: center;
    height: 75rem;
    width: 30rem;
    background-color: darkred;
}

.navbar{
    color: black;
    text-align: center;
    background-color: darkred;
    

}

.navbar h2 {
    font-size: 5rem;
    font-weight: bolder;
    font-family: 'Oleo Script','Arial Narrow Bold', sans-serif;
    text-decoration: underline;
    margin-bottom: 5%;
    background-color: darkred;
}

.navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 55%;
    width: 5rem;
    background-color: darkred;
    
}

.navbar a {
    text-decoration: none;
    color: black;
    font: 3rem impact;
    background-color: darkred;
}

footer {
    height: 10rem;
    width: 100%;
    background-color: darkred;
}

