* {
    margin: 0;
    background-color: grey;
}



header h1{
    display: flex 2 4 5em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 10rem;
    height: 20rem;
    width: 100%;
    background-color: darkred;
    font-family: 'Tapestry',
    cursive;
}

aside {
    display: flex 2 4 5em;
    height: 75rem;
    width: 25rem;
    background-color: darkred;
    float: left;
}


aside .navbar {
    justify-content: center;
    text-align: center;
    background-color: darkred;
}


aside .navbar h2 {
    font-size: 5rem;
    font-weight: 500;
    font-family: 'Tapestry', cursive;
    text-decoration: underline;
    background-color: darkred;
    margin-bottom: 2rem;

}


aside .navbar a {
    /* justify-content: space-evenly; */
    text-decoration: none;
    color: black;
    font: 2rem impact;
}



div {
    display: flex;
    float: right;
    justify-content: center;
    margin: 2em;
    height: 33rem;
    width: 83rem;
    background-color: blueviolet;
    padding: 20px;
    box-sizing: border-box;
}


.box_img {
    display: flex;
    flex-wrap: wrap;
    float: right;
    width: 90%;
    margin: 0 auto;
    background-color: aqua;
    
}

.img_box {
    display: inline;
    flex-basis: 100%;
    width: 45rem;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}

@media only screen and (min-width: 400px) { 
    .img_box {
    flex-basis: 25%;
}

@media only screen and (min-width: 820px) {
    .img_box {
        flex-basis: 50%
    }
}





footer {
    display: flex;
    position: relative;
    bottom: 0;
    height: 10rem;
    width: 100%;
    background-color: darkred;
    
}

@media only screen and (max-width: 1000px){
    header {
        background-color: aliceblue;
        height: 5rem;
        width: 100%;
    }

}

@media screen and (max-width: 576px) {
    header {
        color: black;
        font-size: 3rem;
        width: 100%
    }
    .navbar {
        display: absolute;
        flex-direction: column;
        align-items: center;
    }

    div {
        height: 15rem;
        width:27rem;
    }

    section {
        height: 15rem;  
        width: 27rem;
    }
    
}



